# Filter out folders (for debugging by myself / ide)
cmake-build-debug
cmake-build-release
.idea

# Filter out folders Large file
02_VideoAndBinFile

# Compiled XeLaTex Temporary files
*.aux
*.log
*.out
*.pdf
*.synctex.gz
*.toc
*.lod
*.bbl
*.blg
*.idx
*.dvi


